#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.coffee-stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coffee-stats p {
  margin: 8px;
}